<!DOCTYPE html>
<html>
<head>
    <title>Add a Student</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <main class="col-md-12">
                <form action="/students/add" method="POST">
                    <fieldset>
                        <legend>Personal Information</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input class="form-control" name="firstName" type="text" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input class="form-control" name="lastName" type="text" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input class="form-control" name="email" type="email" required />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address (Street):</label>
                                    <input class="form-control" name="addressStreet" type="text" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address (City):</label>
                                    <input class="form-control" name="addressCity" type="text" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address (Province):</label>
                                    <input class="form-control" name="addressProvince" type="text" required />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Academic Information</legend>
                        <div class="row">
                            <div class="col-md-4">
                                <label>College Employment:</label><br />
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="TA" name="TA">
                                    <label class="form-check-label" for="TA">
                                        Teaching Assistant
                                    </label>
                                </div>
                                <br />
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Enrollment Status:</label><br />
                                    <label class="checkbox-inline">
                                        <input type="radio" value="Full Time" name="status" required /> Full Time
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="radio" value="Part Time" name="status" required /> Part Time
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="course">Enrolled in Course:</label>
                                    <select class="form-control" id="course" name="course" required>
                                        <option value="">Select Course</option>
                                        {{#each courses}}
                                            <option value="{{this.courseId}}">{{this.courseCode}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <hr />
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="Add Student" />
                        <button type="reset" class="btn btn-secondary ml-2">Reset Form</button>
                    </div>
                    <br /><br /><br />
                </form>
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
