<div class="row">
    <div class="col-md-12">
        <br>
        <h2>{{course.courseDescription}}</h2>
        <hr />
        <form action="/course/update" method="POST">
            <input type="hidden" id="courseId" name="courseId" value="{{course.courseId}}">
            <div class="mb-3">
                <label for="courseCode" class="form-label">Course Code</label>
                <input type="text" class="form-control" id="courseCode" name="courseCode" value="{{course.courseCode}}" required>
            </div>
            <div class="mb-3">
                <label for="courseDescription" class="form-label">Course Description</label>
                <input type="text" class="form-control" id="courseDescription" name="courseDescription" value="{{course.courseDescription}}" required>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Update Course</button>
                <button type="reset" class="btn btn-secondary ml-2">Reset Form</button>
            </div>
        </form>
        <hr />
    </div>
</div>
